@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");



:root {
  --bg-color: rgb(238, 238, 237);
  --h2-bg: rgb(240, 238, 237, 0.9);
  --text-color: rgb(35, 33, 33);
  --link-color: rgb(53, 53, 165);

  --font-sans: "Open Sans", sans-serif;
  --font-serif: "Playfair Display", serif;

  --content-width: 70ch;
  --side-padding: 5rem;
  font-size: 125%;
  padding-inline: 10rem;
}

body {
  font-family: var(--font-sans);
  background-color: var(--bg-color);
  color: var(--text-color);
}


h1 {
    font-size: 3rem;
    font-weight:500;
    width: 100%;
}

@media (width>600px){
    h1 {
    font-size: 5.5rem;
}
}

h2 {
    font-family: var(--font-serif);
    font-size: 3rem;
    font-weight: 500;
    background-color: var(--h2-bg);
    padding-inline: 4rem;
    padding-block: 1rem;
    padding-left:1rem;
    inline-size: 80%;
	inset-block-start: 1rem;
	inset-inline-start: 3rem;
	position: sticky;
}



p { 
    max-width: var(--content-width); 
    padding-inline: 5rem;
    margin-block: 1.8rem;
    
 }


em {
    color:var(--link-color);
}


/* link */
a {
	background-color: rgb(214, 227, 243);
    color:  royalblue;
    float: right;  
    text-align: center;
	margin-inline-end: 1rem;
	padding: 1rem;
    text-decoration: underline; 
    border-radius: 2rem;
    display: block; 
}


.dottedlink {
    font-family: var(--font-serif);
    background-color: rgb(240, 224, 236);
    color:rgb(150, 49, 54);
    font-style:italic;
    float:right;
    text-align: center;
    display: block; 

}


/* class */
.note {
    font-family: var(--font-serif);
    font-size: .5 rem;
    font-weight: 400;
    line-height: 150%;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
    
}

.original-text {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-block: 1.25rem;
    max-width: 70ch;
}

/* ornamentation to symbolize "style" in the title */
.style {
    font-family: var(--font-sans-serif);
    font-size: 6rem;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1rem;
 }


/* my response */
.response-heading {
    font-family: var(--font-serif);
    font-style: italic;
    color:brown;
    background-color: rgb(240, 224, 236, 0.9);
    border-left: 0.3rem dotted rgb(174, 98, 121); 
    padding-block: 1rem;
    margin-top: 8rem;
     margin-bottom: 2rem;
}  


.browntext {
    font-family: var(--font-serif);
    color:rgb(72, 50, 49);
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 70ch;
    padding-inline: 5rem;

}


nav {
margin-block: 2rem;
margin-bottom: 10rem;
}



blockquote { 
    font-size: 1.4rem;
    text-align: left;
}

.reading-q {
    font-family: var(--font-serif);
    font-size: 2rem;
    font-weight: 600;
    margin-inline: 3rem;
    margin-block: 4rem;
}


.name {
    font-size:  1rem;
    font-weight: 300;
    margin-block: 0.5rem;
    display:block;
}

.response-quote {
    font-family: var(--font-serif);
    color: rgb(61, 15, 15);
    font-size: 1.8rem;
    padding-inline: 1rem;
    padding-block: 1rem;
    border-left: 0.3rem dotted rgb(174, 98, 121); 
    margin-right: 11rem;
    margin-block: 2rem;
}


.orginal-quote{
    font-family: var(--font-serif);
    color: rgb(61, 15, 15);
    font-size: 1.4rem;
    text-align: left;
    background-color: rgb(235, 213, 230);
    padding-inline: 1rem;
    padding-block: 1rem;
    border-left: 0.3rem dotted rgb(174, 98, 121); 
    margin-inline: 7rem;
}


footer { 
    color: rgb(238, 238, 238);
    text-align:right;
    background-color: rgb(0, 0, 0);
    font-size: 1.2rem;
    color: lightgray;
    padding-inline: 10rem;
    padding-block: 5rem;
    margin-inline: -10rem;
    margin-top: 5rem;
}


